
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #e23131;
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
    background: transparent;
    background-image: url("./assets/images/11.jpg");
  }
  .nav-link:hover {
    color: rgb(88, 196, 26) !important;
  }
  h1{
      color: rgb(96, 146, 62);
      padding-left: 265px;
      padding-top: 25px;
  }
  #location{
    padding-top: 13px;
    display: flex;
    justify-content: space-around;

  }
  #available{
    width: 550px;

  }
  #seating{
    padding-top: 13px;
    padding-left: 300px;
    display: flex;
    /* justify-content: space-around; */
  }
  #amount1{
    padding-top: 13px;
    display: flex;
    align-items: center;
    
  }